<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>搜索寻找</title>
</head>
<body>
    {% for post in posts %}
         <h2>{{post.title}}</h2>
         <div style="height: 16px"></div>
         <h3>{{post.content}}</h3>
    {% endfor %}
    <form class="form-horizontal" action='/post/search/' method="POST">
                    {% csrf_token %}
                    <input type="text" class="form-control" placeholder="搜索" name="keyword">
    </form>
    <h3>可以接着搜</h3>

</body>
</html>